<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:replace="fragments/init :: head">
    <title>Заглавная страница блога</title>
</head>
<body>

<!-- Шаблон Header'а -->
<div th:replace="fragments/header :: header">
    ...
</div>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-md-8 text-left">
            <h3>Загруженные файлы:</h3>
            <table class="table table-striped">
                <caption></caption>
                <thead>
                <tr>
                    <th>ИмяФайла</th>
                    <th>Размер, Кб</th>
                    <th>Скачать</th>
                    <th>Удалить</th>
                    <th>Просмотр</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="file : ${files}">
                    <tr>
                        <td th:if="${file.getFileType() == T(org.bajiepka.pgbackupper.domain.MaintenanceFile.FileTypes).CF}">
                            <img th:text="${file.getName()}" th:src="@{/images/cf_thumbnail.png}"
                                 style="width: 32px; height: 32px"/>
                        </td>
                        <td th:if="${file.getFileType() == T(org.bajiepka.pgbackupper.domain.MaintenanceFile.FileTypes).DT}">
                            <img th:text="${file.getName()}" th:src="@{/images/dt_thumbnail.png}"
                                 style="width: 32px; height: 32px"/>
                        </td>
                        <td th:if="${file.getFileType() == T(org.bajiepka.pgbackupper.domain.MaintenanceFile.FileTypes).EPF}">
                            <img th:text="${file.getName()}" th:src="@{/images/epf_thumbnail.png}"
                                 style="width: 32px; height: 32px"/>
                        </td>
                        <td th:if="${file.getFileType() == T(org.bajiepka.pgbackupper.domain.MaintenanceFile.FileTypes).ERF}">
                            <img th:text="${file.getName()}" th:src="@{/images/erf_thumbnail.png}"
                                 style="width: 32px; height: 32px"/>
                        </td>
                        <td th:text="${file.getName()}"
                            th:if="${file.getFileType() == T(org.bajiepka.pgbackupper.domain.MaintenanceFile.FileTypes).OTHER}"
                            style="width: 32px; height: 32px">
                        </td>

                        <td><p th:text="${file.getAdaptedSize()}"></p></td>
                        <td>
                            <a href="#" th:href="@{/files/download(file=${file})}">
                                <span class="glyphicon glyphicon-download"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" th:href="@{/files/delete(file=${file})}">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" th:href="@{/file(file=${file})}">
                                <span class="glyphicon glyphicon-th-list"></span>
                            </a>
                        </td>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>
        <div class="col-md-4 text-left" style="padding: 80px 0px 0px 30px">
            <img th:src="@{/images/upload-file.png}"
                 alt="Загрузить файл на сервер"/>
            <div class="form-group">
                <label for="FileInput">Загрузка произвольного файла</label>
                <input type="file" class="form-control-file" id="FileInput" aria-describedby="fileHelp"/>
                <small id="fileHelp" class="form-text text-muted">Выберите файл для загрузки в файловый катало
                    приложения. После загрузки файл автоматически появится в этом списке.
                </small>
            </div>
        </div>
    </div>
</div>

<!-- Шаблон Footer'а -->
<div th:replace="fragments/footer :: footer">...</div>

</body>
</html>