<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:replace="fragments/init :: head">
    <title th:title="${page-title}">Настройки PgBackupper'а</title>
</head>
<body>

<!-- Шаблон Header'а -->
<div th:replace="fragments/header :: header">
    ...
</div>

<!--<div class="container-fluid text-center">-->
<div class="container-fluid">
    <div class="row content">
        <h3 th:text="${title}">text</h3>
        <div class="col-md-4">
            <form action="#" th:action="@{/settings/modify}" method="post"
                  th:object="${properties}">
                <div th:each="property : ${properties}">
                    <div class="form-group">
                        <label th:text="${property.key}">Property name</label>
                        <input type="text" class="form-control"
                               placeholder="" th:value="${property.value}"/>
                        <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Шаблон Footer'а -->
<div th:replace="fragments/footer :: footer">...</div>

</body>
</html>